:root {
    --primary: #6B4226;
    --secondary: #C17C54;
    --accent: #E6B325;
    --bg: #FDF6EC;
    --text: #2B2B2B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

a {
    text-decoration: none;
}

body {
    background-color: var(--bg);
}


#navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary);
    width: 100%;
    height: 80px;
    top: 0;
    font-family: sans-serif;
    box-shadow: 0 5px 50px #e79f75;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    padding: 15px;
    font-weight: 600;
}

#logo {
    color: var(--text);
    font-weight: 600;
}

#hero {
    font-size: 24px;
    text-align: center;
    margin-top: 120px;
}

.hero-inner {
    font-family: inter;
}

.hero-inner p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.menu-btn {
    background: var(--primary);
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
}

#menu {
    background: #F4EDE6;
    margin-top: 80px;
    text-align: center;
    height: 500px;
}

#main-text {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding-top: 50px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 80%;
    height: 300px;
    background-color: var(--bg);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px var(--primary);
    overflow: hidden;
    text-align: center;
    font-family: inter;
    font-size: 15px;
    padding-bottom: 15px;
}

.img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 5%;
}

.card h2 {
    font-size: 18px;
    color: var(--text);
    margin-top: 5%;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.order-btn {
    display: flex;
    background: var(--accent);
    border-radius: 10px;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px
}

#about {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 30px;
}

.about-text.main {
    margin-bottom: 20px;
    font-size: 25px
}

.about-text.under {
    font-family: inter;
    padding-right: 35%;
    margin-bottom: 50px;
}

#visit {
    background: #F4EDE6;
    padding: 30px 100px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#visit h3 {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hours {
    margin-top: 40px;
    font-size: 17px
}

#hours p {
    margin-left: -50px;
    font-size: 18px;
    margin-bottom: 10px;

}

#loco-btn {
    background: var(--accent);
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
}

#loco {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 15px;
}

#locoText {
    margin-bottom: 25px;
}

#contact-form {
    font-family: inter;
    padding: 40px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:12px;
    align-items:start;
    max-width:700px;
}

#contact h4 {
    font-size: 25px;
    font-family: inter;
    margin-left: 30px;
    margin-top: 25px;
}

#contact-form label { 
    display:block; 
}

#contact-form span { 
    display:block;
    margin-bottom:6px; 
    color:#555; 
}

#contact-form input, .contact-form textarea {
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid #e8e2db;
    background:white;
}

#contact-form button { 
    grid-column: 1 / -1; 
    justify-self:start; 
    margin-top:8px; 
    background: var(--primary);
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    color: whitesmoke;
}

#contact-form textarea {
    width: 300px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#footer {
    text-align: center;
    color: white;
    background: #F4EDE6;
    height: 18vh;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}